.nav-wrapper {
  background-color: #424549;
  padding: 4px;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease;
    padding: 6px 12px;
  }

  a:hover {
    opacity: 0.75;
    text-decoration: underline;
    border-radius: 4px;
  }

  .logout-button {
    font-size: 16px;
    background-color: #7289da;
    color: white;
    border-radius: 4px;
    padding: 6px 12px;
    transition: all 0.2s ease;
    font-weight: bold;
    border: 0;
  }

  .logout-button:hover {
    opacity: 0.75;
    cursor: pointer;
  }
}
